.env
coverage/
**/node_modules/
pages/
public/
.nyc_output/
npm-debug.log
.eslintcache

**/downloads/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets


# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
